node_modules/
build/
dist/
cov/
src/server/static/js/
coverage/
.settings.json
xunit.xml
vendor/*.msi
electron.xml
spectron.xml
coverage.zip
uwp/
.vscode/

# snapcraft
prime/
snapcraft/
parts/
stage/
snap/
*.snap


\.idea/
